<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.barbar_splashscreen.keelanfaul.barbar_splashscreen">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".BarberHomeScreenActivity" />
        <activity android:name=".BarberStudentsActivity" />
        <activity android:name=".ApprenticeHomeScreenActivity" />
        <activity android:name=".ApprenticeProfileActivity" />
        <activity android:name=".ForgetPasswordActivity" />
        <activity android:name=".StartHaircutActivity" />
        <activity android:name=".ShowHaircutCodeActivity" />
        <activity android:name=".FeedBackActivity" />
        <activity android:name=".ShowFeedbackActivity"></activity>
    </application>

</manifest>